@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@400;500&display=swap');
@import "tailwindcss";
@plugin "daisyui";
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.active{
    color: oklch(65% 0.241 354.308);
   border-bottom: 1px solid oklch(65% 0.241 354.308);
   border-radius: 0;
}